
# Ignore everything
.vscode/

examples/example_dadi/last_gen_sfs_sim/
examples/example_dadi/out_put_data/
examples/example_dadi/simdata/
examples/example_dadi/scripts_sample_sel_data/
*.txt

#ignore c++ object files
*.o